:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

section h1.titulo-tabela {
  text-align: center;
  margin: 10px 0 5px 0;
}

section div {
  width: 100%;
  display: flex;
  justify-content: center;
}

section div ul {
  list-style: none;
  padding: 0;
  margin: -10px 0 0 0;
}

section div ul:last-child {
  margin-left: 100px;
}

section div ul li h3 {
  margin-bottom: 10px;
}

form input, form label, form button, .invalido, .valido {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid #000;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.invalido {
  padding: 5px;
  background-color: red;
}

.valido {
  padding: 5px;
  background-color: rgb(109, 255, 182);
}


